body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

p, li, a {
    font-family: 'Roboto Mono', monospace;  
    margin: 0;
}
header h1 {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
}

#content{
    width: 96%;
    margin: 2.5em auto 0;
}

/* This is for the hamburger button */
#container {
    cursor: pointer;
}

#one, #two, #three {
    width: 100%;
    height: .3em;
    margin-bottom: .3em;
    background-color: black;
}

/* This puts the hamburger button and the text in a grid */
header {
    background-color: darkgrey;
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 4;
    top: 0;
}

header div#headContainer {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-gap: .4em;
    margin: 0 auto;
    width: 96%;
    padding: .4em 0 0;
}

.styles h3 {
    padding: .5em 0;
    text-align: center;
}

/* This is for the images in all the div pages */
.styles img {
    width: 100%;
}


/* This is for the nav */
nav {
    background-color: cornsilk;
    transition: .5s ease;
    width: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style-type: none;
    font-size: .8em;
    border-bottom: 2px solid #ccc;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1em .5em;
}

nav ul li a:hover {
    background-color: crimson;
    color: white;
}

.styles {
    display: none;
}


/* #content {
    background-image: url("../images/man-wearing-blue-suit-2897883.jpg");
}






    
}*/

/*body {
    background-image: url("images/man-wearing-blue-suit-2897883.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}*/